body{
    margin:0;
    padding: 0;
    background: hsl(233, 47%, 7%);
}

.flexbox-container{
    margin: 5rem 0 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.flexbox-item_a{
    height:500px;
    width:500px;
    background-color: hsl(244, 38%, 16%);
    border-radius:10px 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.flexbox-item_b{
    height:500px;
    width:500px;
    background-color: yellow;
    border-radius:0 10px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}